<div class="position-absolute position-top">
  <a href="#">
    <%= image_tag "poo.png", class: "poo" %>
  </a>
</div>
<div class="position-absolute position-center">
  <nav class="nav flex-column text-center">
    <a class="nav-link nav-type" href="/work">Work</a>
    <a class="nav-link nav-type" href="#">Me</a>
    <a class="nav-link nav-type" href="#">Talk</a>
  </nav>
</div>
<div class="position-absolute position-bottom-center text-center">
  <div class="available-now">
    <p>Available for Hire</p>
  </div>
</div>