<div class="row full-height">
  <div class="col position-relative full-height">
    <%= render "main" %>
  </div>
  <div class="position-relative nav-col col-sm-2 full-height">
    <%= render "nav" %>
  </div>
</div>